.idea/
.vscode/
node_modules/

build/
./dist/
tmp/
temp/


# misc
.DS_Store
.env
.env.development
.env.test
.env.production
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
live-chat-admin/node_modules/
src/myconfig.ts
ormconfig.json
now.json