.bubble_container {
  display: flex;
  width: 60px;
  height: 60px;
  box-shadow: rgba(65, 65, 65, 0.96) 0px 4px 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.72);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.bubble_container:hover {
  background: rgb(230, 230, 230);
}

.chat_container_div {
  position: fixed;
  bottom: 0px;
  z-index: 2000;
  will-change: opacity;
  backface-visibility: hidden;
  right: 6px;
  padding: 0.5em 0.5em 1em 1em;
}

.wl-chatOrLoginScreen {
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 340px;
  max-width: 100%;
  border-radius: 1rem;
  border-style: solid;
  overflow: hidden;
  border-color: #e8e8e8;
  border-width: 1px;
  z-index: 9000;
}

span.messageFromMe {
  font-weight: bold;
  color: #578cb4;
}

span.messageFromServer {
  font-weight: bold;
  color: #359770;
}

.message-wrapper {
  padding-left: 2rem;
}

main.chat .message p.message-header span.sent-date {
  color: #969696;
  /* padding-left: 10px; */
}

main.chat .message img.avatar {
  margin-right: 10px;
}

main.chat .message p.message-header {
  margin: 0;
  font-size: 0.9em;
}

main.flex {
  height: 100%;
}

main.chat {
  padding: 10px;
  overflow-y: scroll;
}

main.chat img.avatar {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  flex: none;
}

main.chat .message {
  flex: 0 0 auto;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
